---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Profile_lily from '../assets/lily_profile.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About The Arena"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 22 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
		labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
		viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
		adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus
		et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus
		vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque
		sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
	</p>
	<hr style="border: none; border-top: 1px solid #d1d5db; margin: 24px 0;" />
	<h3 style="text-align: center;">Our contributors:</h3>
	<div style="display: flex; align-items: center; gap: 16px;">
  		<img
    		src={Profile_lily.src}
    		alt="Profile Photo"
    		style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"
 		 />
  		<p> <b>Lily Collins, Cheif Technology Engineer</b> <br>
		Lily coded this website with her brother, Hugo. She is a high school junior, and 
		when she's not leading the computer science club, playing on the varsity soccer team, or 
		in the chemistry lab, you can find her playing flute and learning to speak Polish.</p>
	</div>
</Layout>
