---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Profile_lily from '../assets/lily_profile.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About The Arena"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 22 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
		labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
		viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
		adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus
		et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus
		vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque
		sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
	</p>
	<hr style="border: none; border-top: 1px solid #d1d5db; margin: 24px 0;" />
	<h3 style="text-align: center;">Our contributors:</h3>
	<div class="card">
  		<img src={Profile_lily.src} alt="Profile Photo" class="card-image"/>
  			<div class="card-text">
    			<p><b>Lily Collins, Chief Technology Engineer</b><br>Lily coded this website with her brother, Hugo. She is a high school junior, and 
		when she's not leading the computer science club, playing on the varsity soccer team, or 
		in the chemistry lab, you can find her playing flute and learning to speak Polish.</p>
  			</div>
  		<img src={Profile_lily.src} alt="Profile Photo" class="card-image"/>
  			<div class="card-text">
    			<p><b>Hugo Collins, Chief Technology Engineer</b><br>Hugo coded this website with his sister, Lily. He is a high school freshmen, and 
		when he's not leading the computer game development club, running track and cross country, or juggling
		, you can find him playing percussion and learnining to speak Greek and Latin.</p>
  			</div>
	</div>
	<style>
  		.card {
    		display: grid;
    		grid-template-columns: 1fr;  /* single column on mobile */
    		gap: 0.6rem;
			align-items: center;
  		}
		.card-image {
    		width: 200px;
   			height: 200px;
    		border-radius: 50%;
    		object-fit: cover;
			justify-self: center;
  		}
  		@media (min-width: 640px) {
    		.card {
      		grid-template-columns: 250px 1fr;  /* fixed image width + fluid text */
    		}
  		}
	</style>
</Layout>
