---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import AboutHeroImage from "../assets/issue1.jpg";
import Logo from "../assets/logo.png";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div style="text-align: center;">
				<img
					src={Logo.src}
					class="logo"
					alt="Logo"
					width="500"
					height="150"
				/>
				<style>
					.logo {
						width: 200px;
						height: 200px;
						border-radius: 50%;
						object-fit: cover;
						justify-self: center;
						margin: 20px;
					}
				</style>
				<br />
				<a href="/pdfs/Issue_1.pdf" target="_blank">
					<img
						src={AboutHeroImage.src}
						alt="Issue1"
						width="500"
						height="600"
					/>
					<br />
					<b> Read our current issue →</b>
					</p>
				</a>
			</div>
		</main>
		<Footer />
	</body>
</html>
