---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import GitPhoto from '../assets/github.svg?url';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Articles</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<a href="https://github.com/lilymcollins16-png/The-Arena" target="_blank" class="social-links">
  		<img src={GitPhoto} alt="GitHub" />
</a>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links img {
  		width: 30px;
  		height: 30px;
		position: relative;
    	top: 4px;
	}
	.social-links {
		grid-column: 3;
  		justify-self: end;
	}
</style>